﻿@charset "UTF-8";


@font-face { 
  font-family:"NanumBarunGothic";
  src:url("../fonts/NanumBarunGothic.eot"); 
  src:url("../fonts/NanumBarunGothic.eot?#iefix")format('embedded-opentype'), 
  src:url("../fonts/NanumBarunGothic.woff")format('woff'), 
  src:url("../fonts/NanumBarunGothic.ttf")format('truetype'); 
}

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, tr, th, td, caption, form, fieldset, input, select, textarea, blockquote, address, button {margin:0;padding:0}

ul, ol, li {list-style:none}
img, fieldset, button {border:0 none}
button {background:none;cursor:pointer;box-sizing:content-box}
address, em {font-style:normal}
table {border-collapse:separate;border-spacing:0}
q:before, q:after {content:''}

body {background:#fff}
body, input, select, textarea, button, th, td {font-family:"NanumBarunGothic",sans-serif !important; color:#555}
input,select,textarea,button {vertical-align:middle}
a {color:#555;text-decoration:none}
a:hover, a:focus {color:#555}
img {vertical-align:top}
hr {display:none}
div{ box-sizing:border-box; }

/* html5 tag */
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section, main {display:block;margin:0;padding:0}

/* global */
.blind {position:absolute;top:-9999px;visibility:hidden;width:0;height:0;font-size:1%;line-height:0}
.show {display:block}
.hide {display:none}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

/*"맑은 고딕", Malgun Gothic, "돋움", Dotum, Arial, sans-serif */


.scrAuto{
	overflow:auto;
	overflow-y:auto;
	overflow-x:hidden;
}

table td,
table th{
	white-space:normal;
/*	white-space:nowrap;*/
}



td.imgTd{
	text-align:center;
}

th.txtC,
td.txtC{
	text-align:center !important;
}

th.txtL,
td.txtL{
	text-align:left !important;
}

th.txtR,
td.txtR{
	text-align:right !important;
}

button.gDelBtn{
	background:#636363;
	color:#fff;
	font-size:15px;
}

button.gSavBtn{
	background:#333;
	color:#fff;
	font-size:15px;
}

.fl{
	float:left;
}

.fr{
	float:right;
}



.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb80{margin-bottom:80px !important;}
.mb90{margin-bottom:90px !important;}
.mb100{margin-bottom:100px !important;}

.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr70{margin-right:70px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}

.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml80{margin-left:80px !important;}
.ml90{margin-left:90px !important;}
.ml100{margin-left:100px !important;}

.pd10{padding:10px !important;}
.pd20{padding:20px !important;}
.pd30{padding:30px !important;}
.pd40{padding:40px !important;}
.pd50{padding:50px !important;}
.pd60{padding:60px !important;}
.pd70{padding:70px !important;}
.pd80{padding:80px !important;}
.pd90{padding:90px !important;}


.pdt10{padding-top:10px !important;}
.pdt20{padding-top:20px !important;}
.pdt30{padding-top:30px !important;}
.pdt40{padding-top:40px !important;}
.pdt50{padding-top:50px !important;}
.pdt60{padding-top:60px !important;}
.pdt70{padding-top:70px !important;}
.pdt80{padding-top:80px !important;}
.pdt90{padding-top:90px !important;}
.pdt100{padding-top:100px !important;}

.pdm10{padding-bottom:10px !important;}
.pdm20{padding-bottom:20px !important;}
.pdm30{padding-bottom:30px !important;}
.pdm40{padding-bottom:40px !important;}
.pdm50{padding-bottom:50px !important;}
.pdm60{padding-bottom:60px !important;}
.pdm70{padding-bottom:70px !important;}
.pdm80{padding-bottom:80px !important;}
.pdm90{padding-bottom:90px !important;}
.pdm100{padding-bottom:100px !important;}

.pdr10{padding-right:10px !important;}
.pdr20{padding-right:20px !important;}
.pdr30{padding-right:30px !important;}
.pdr40{padding-right:40px !important;}
.pdr50{padding-right:50px !important;}
.pdr60{padding-right:60px !important;}
.pdr70{padding-right:70px !important;}
.pdr80{padding-right:80px !important;}
.pdr90{padding-right:90px !important;}
.pdr100{padding-right:100px !important;}

.pdl10{padding-left:10px !important;}
.pdl20{padding-left:20px !important;}
.pdl30{padding-left:30px !important;}
.pdl40{padding-left:40px !important;}
.pdl50{padding-left:50px !important;}
.pdl60{padding-left:60px !important;}
.pdl70{padding-left:70px !important;}
.pdl80{padding-left:80px !important;}
.pdl90{padding-left:90px !important;}
.pdl100{padding-left:100px !important;}

.w10p{width:10% !important;}
.w18p{width:18% !important;}
.w19p{width:19% !important;}
.w20p{width:20% !important;}
.w30p{width:30% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w60p{width:60% !important;}
.w70p{width:70% !important;}
.w80p{width:80% !important;}
.w89p{width:89% !important;}
.w90p{width:90% !important;}
.w100p{width:100% !important;}


.w50px{width:50px !important;}
.w100px{width:100px !important;}
.w150px{width:150px !important;}
.w160px{width:160px !important;}
.w170px{width:170px !important;}
.w180px{width:180px !important;}
.w190px{width:190px !important;}
.w200px{width:200px !important;}
.w210px{width:210px !important;}
.w220px{width:220px !important;}
.w230px{width:230px !important;}
.w240px{width:240px !important;}
.w250px{width:250px !important;}
.w260px{width:260px !important;}
.w270px{width:270px !important;}
.w280px{width:280px !important;}
.w290px{width:290px !important;}
.w300px{width:300px !important;}
.w310px{width:310px !important;}
.w320px{width:320px !important;}
.w330px{width:330px !important;}
.w340px{width:340px !important;}
.w350px{width:350px !important;}
.w360px{width:360px !important;}
.w370px{width:370px !important;}
.w380px{width:380px !important;}
.w390px{width:390px !important;}
.w400px{width:400px !important;}
.w410px{width:410px !important;}
.w420px{width:420px !important;}
.w430px{width:430px !important;}
.w440px{width:440px !important;}
.w450px{width:450px !important;}
.w460px{width:460px !important;}
.w470px{width:470px !important;}
.w480px{width:480px !important;}
.w490px{width:490px !important;}
.w500px{width:500px !important;}
.w510px{width:510px !important;}
.w520px{width:520px !important;}
.w530px{width:530px !important;}
.w540px{width:540px !important;}
.w550px{width:550px !important;}
.w560px{width:560px !important;}
.w570px{width:570px !important;}
.w580px{width:580px !important;}
.w590px{width:590px !important;}
.w600px{width:600px !important;}
.w610px{width:610px !important;}
.w620px{width:620px !important;}
.w630px{width:630px !important;}
.w640px{width:640px !important;}
.w650px{width:650px !important;}
.w660px{width:660px !important;}
.w670px{width:670px !important;}
.w680px{width:680px !important;}
.w690px{width:690px !important;}
.w700px{width:700px !important;}
.w710px{width:710px !important;}
.w720px{width:720px !important;}
.w730px{width:730px !important;}
.w740px{width:740px !important;}
.w750px{width:750px !important;}
.w760px{width:760px !important;}
.w770px{width:770px !important;}
.w780px{width:780px !important;}
.w790px{width:790px !important;}
.w800px{width:800px !important;}
.w810px{width:810px !important;}
.w820px{width:820px !important;}
.w830px{width:830px !important;}
.w840px{width:840px !important;}
.w850px{width:850px !important;}
.w860px{width:860px !important;}
.w870px{width:870px !important;}
.w880px{width:880px !important;}
.w890px{width:890px !important;}
.w900px{width:900px !important;}
.w910px{width:910px !important;}
.w920px{width:920px !important;}
.w930px{width:930px !important;}
.w940px{width:940px !important;}
.w950px{width:950px !important;}
.w960px{width:960px !important;}
.w970px{width:970px !important;}
.w980px{width:980px !important;}
.w990px{width:990px !important;}
.w1000px{width:1000px !important;}
.w1010px{width:1010px !important;}
.w1020px{width:1020px !important;}
.w1030px{width:1030px !important;}
.w1040px{width:1040px !important;}
.w1050px{width:1050px !important;}
.w1060px{width:1060px !important;}
.w1070px{width:1070px !important;}
.w1080px{width:1080px !important;}
.w1090px{width:1090px !important;}
.w1100px{width:1100px !important;}
.w1110px{width:1110px !important;}
.w1120px{width:1120px !important;}
.w1130px{width:1130px !important;}
.w1140px{width:1140px !important;}
.w1150px{width:1150px !important;}
.w1160px{width:1160px !important;}
.w1170px{width:1170px !important;}
.w1180px{width:1180px !important;}
.w1190px{width:1190px !important;}
.w1200px{width:1200px !important;}
.w1210px{width:1210px !important;}
.w1220px{width:1220px !important;}
.w1230px{width:1230px !important;}
.w1240px{width:1240px !important;}
.w1250px{width:1250px !important;}
.w1260px{width:1260px !important;}
.w1270px{width:1270px !important;}
.w1280px{width:1280px !important;}
.w1290px{width:1290px !important;}
.w1300px{width:1300px !important;}
.w1310px{width:1310px !important;}
.w1320px{width:1320px !important;}
.w1330px{width:1330px !important;}
.w1340px{width:1340px !important;}
.w1350px{width:1350px !important;}
.w1360px{width:1360px !important;}
.w1370px{width:1370px !important;}
.w1380px{width:1380px !important;}
.w1390px{width:1390px !important;}
.w1400px{width:1400px !important;}
.w1410px{width:1410px !important;}
.w1420px{width:1420px !important;}
.w1430px{width:1430px !important;}
.w1440px{width:1440px !important;}
.w1450px{width:1450px !important;}
.w1460px{width:1460px !important;}
.w1470px{width:1470px !important;}
.w1480px{width:1480px !important;}
.w1490px{width:1490px !important;}
.w1500px{width:1500px !important;}
.w1510px{width:1510px !important;}
.w1520px{width:1520px !important;}
.w1530px{width:1530px !important;}
.w1540px{width:1540px !important;}
.w1550px{width:1550px !important;}
.w1560px{width:1560px !important;}
.w1570px{width:1570px !important;}
.w1580px{width:1580px !important;}
.w1590px{width:1590px !important;}
.w1600px{width:1600px !important;}
.w1610px{width:1610px !important;}
.w1620px{width:1620px !important;}
.w1630px{width:1630px !important;}
.w1640px{width:1640px !important;}
.w1650px{width:1650px !important;}
.w1660px{width:1660px !important;}
.w1670px{width:1670px !important;}
.w1680px{width:1680px !important;}
.w1690px{width:1690px !important;}
.w1700px{width:1700px !important;}
.w1710px{width:1710px !important;}
.w1720px{width:1720px !important;}
.w1730px{width:1730px !important;}
.w1740px{width:1740px !important;}
.w1750px{width:1750px !important;}
.w1760px{width:1760px !important;}
.w1770px{width:1770px !important;}
.w1780px{width:1780px !important;}
.w1790px{width:1790px !important;}
.w1800px{width:1800px !important;}
.w1810px{width:1810px !important;}
.w1820px{width:1820px !important;}
.w1830px{width:1830px !important;}
.w1840px{width:1840px !important;}
.w1850px{width:1850px !important;}
.w1860px{width:1860px !important;}
.w1870px{width:1870px !important;}
.w1880px{width:1880px !important;}
.w1890px{width:1890px !important;}
.w1900px{width:1900px !important;}
.w1910px{width:1910px !important;}
.w1920px{width:1920px !important;}
.w1930px{width:1930px !important;}
.w1940px{width:1940px !important;}
.w1950px{width:1950px !important;}
.w1960px{width:1960px !important;}
.w1970px{width:1970px !important;}
.w1980px{width:1980px !important;}
.w1990px{width:1990px !important;}
.w2000px{width:2000px !important;}

.h30px{height:30px !important; line-height:30px;}
.h40px{height:40px !important;}
.h50px{height:50px;}
.h60px{height:60px;}
.h70px{height:70px;}
.h80px{height:80px;}
.h90px{height:90px !important;}
.h100px{height:100px !important;;}

.h150px{height:150px;}
.h160px{height:160px;}
.h170px{height:170px;}
.h180px{height:180px;}
.h190px{height:190px;}
.h200px{height:200px !important;}
.h210px{height:210px;}
.h220px{height:220px;}
.h230px{height:230px;}
.h240px{height:240px;}
.h250px{height:250px;}
.h260px{height:260px;}
.h270px{height:270px;}
.h280px{height:280px;}
.h290px{height:290px;}
.h300px{height:300px;}
.h310px{height:310px;}
.h320px{height:320px;}
.h330px{height:330px;}
.h340px{height:340px;}
.h350px{height:350px;}
.h360px{height:360px;}
.h370px{height:370px;}
.h380px{height:380px;}
.h390px{height:390px;}
.h400px{height:400px !important;}
.h410px{height:410px;}
.h420px{height:420px;}
.h430px{height:430px;}
.h440px{height:440px;}
.h450px{height:450px !important;}
.h460px{height:460px;}
.h470px{height:470px;}
.h480px{height:480px;}
.h490px{height:490px;}
.h500px{height:500px;}
.h510px{height:510px;}
.h520px{height:520px;}
.h530px{height:530px;}
.h540px{height:540px;}
.h550px{height:550px;}
.h560px{height:560px;}
.h570px{height:570px;}
.h580px{height:580px;}
.h590px{height:590px;}
.h600px{height:600px;}
.h610px{height:610px;}
.h620px{height:620px;}
.h630px{height:630px;}
.h640px{height:640px;}
.h650px{height:650px;}
.h660px{height:660px;}
.h670px{height:670px;}
.h680px{height:680px;}
.h690px{height:690px;}
.h700px{height:700px;}
.h710px{height:710px;}
.h720px{height:720px;}
.h730px{height:730px;}
.h740px{height:740px;}
.h750px{height:750px;}
.h760px{height:760px;}
.h770px{height:770px;}
.h780px{height:780px;}
.h790px{height:790px;}
.h800px{height:800px;}
.h810px{height:810px;}
.h820px{height:820px;}
.h830px{height:830px;}
.h840px{height:840px;}
.h850px{height:850px;}
.h860px{height:860px;}
.h870px{height:870px;}
.h880px{height:880px;}
.h890px{height:890px;}
.h900px{height:900px;}
.h910px{height:910px;}
.h920px{height:920px;}
.h930px{height:930px;}
.h940px{height:940px;}
.h950px{height:950px;}
.h960px{height:960px;}
.h970px{height:970px;}
.h980px{height:980px;}
.h990px{height:990px;}
.h1000px{height:1000px;}
.h1010px{height:1010px;}
.h1020px{height:1020px;}
.h1030px{height:1030px;}
.h1040px{height:1040px;}
.h1050px{height:1050px;}
.h1060px{height:1060px;}
.h1070px{height:1070px;}
.h1080px{height:1080px;}
.h1090px{height:1090px;}
.h1100px{height:1100px;}
.h1110px{height:1110px;}
.h1120px{height:1120px;}
.h1130px{height:1130px;}
.h1140px{height:1140px;}
.h1150px{height:1150px;}
.h1160px{height:1160px;}
.h1170px{height:1170px;}
.h1180px{height:1180px;}
.h1190px{height:1190px;}
.h1200px{height:1200px;}
.h1210px{height:1210px;}
.h1220px{height:1220px;}
.h1230px{height:1230px;}
.h1240px{height:1240px;}
.h1250px{height:1250px;}
.h1260px{height:1260px;}
.h1270px{height:1270px;}
.h1280px{height:1280px;}
.h1290px{height:1290px;}
.h1300px{height:1300px;}
.h1310px{height:1310px;}
.h1320px{height:1320px;}
.h1330px{height:1330px;}
.h1340px{height:1340px;}
.h1350px{height:1350px;}
.h1360px{height:1360px;}
.h1370px{height:1370px;}
.h1380px{height:1380px;}
.h1390px{height:1390px;}
.h1400px{height:1400px;}
.h1410px{height:1410px;}
.h1420px{height:1420px;}
.h1430px{height:1430px;}
.h1440px{height:1440px;}
.h1450px{height:1450px;}
.h1460px{height:1460px;}
.h1470px{height:1470px;}
.h1480px{height:1480px;}
.h1490px{height:1490px;}
.h1500px{height:1500px;}
.h1510px{height:1510px;}
.h1520px{height:1520px;}
.h1530px{height:1530px;}
.h1540px{height:1540px;}
.h1550px{height:1550px;}
.h1560px{height:1560px;}
.h1570px{height:1570px;}
.h1580px{height:1580px;}
.h1590px{height:1590px;}
.h1600px{height:1600px;}
.h1610px{height:1610px;}
.h1620px{height:1620px;}
.h1630px{height:1630px;}
.h1640px{height:1640px;}
.h1650px{height:1650px;}
.h1660px{height:1660px;}
.h1670px{height:1670px;}
.h1680px{height:1680px;}
.h1690px{height:1690px;}
.h1700px{height:1700px;}
.h1710px{height:1710px;}
.h1720px{height:1720px;}
.h1730px{height:1730px;}
.h1740px{height:1740px;}
.h1750px{height:1750px;}
.h1760px{height:1760px;}
.h1770px{height:1770px;}
.h1780px{height:1780px;}
.h1790px{height:1790px;}
.h1800px{height:1800px;}
.h1810px{height:1810px;}
.h1820px{height:1820px;}
.h1830px{height:1830px;}
.h1840px{height:1840px;}
.h1850px{height:1850px;}
.h1860px{height:1860px;}
.h1870px{height:1870px;}
.h1880px{height:1880px;}
.h1890px{height:1890px;}
.h1900px{height:1900px;}
.h1910px{height:1910px;}
.h1920px{height:1920px;}
.h1930px{height:1930px;}
.h1940px{height:1940px;}
.h1950px{height:1950px;}
.h1960px{height:1960px;}
.h1970px{height:1970px;}
.h1980px{height:1980px;}
.h1990px{height:1990px;}
.h2000px{height:2000px;}