@charset "UTF-8";

@media ( max-width: 1835px ) {
/*	.gInhalfBox-wrap{*/
/*		width:100%*/
/*	}*/
/**/
/*	.gInhalfBox{*/
/*		height:400px;*/
/*	}*/
/**/
/*	.gIndoubleBox{*/
/*		height:400px;*/
/*	}*/

	.mainBoxRes{
		width:50%;
	}

}


@media ( max-width: 1200px ) {
	
	.viewAllMenu .allMenuInner ul > li{
		width:50%;
	}

	.viewAllMenu{
		padding-left:60px;
		-webkit-transition: padding .5s ease;
		-moz-transition: padding .5s ease;
		-ms-transition: padding .5s ease;
		-o-transition: padding .5s ease;
		transition: padding .5s ease;
	}

}

@media ( max-width: 1023px ) {

	#algPreview,
	#algSetBox{
		width:100%;
	}


/*  B*/
	.lecoTop .adminMenu .svList{
		width:35%;
	}

	.totalBox{
		width:20%;
	}
	
	.lecoTop{
		padding-left:60px;
	}

	.right-col{
		padding-left:60px;
		padding-top:40px;
	}	

	.lecoTop .adminArea{
		width:100%;
		height:40px;
		line-height:40px;
		position:absolute;
		min-width:270px;
		text-align:right;
		top:60px;
		right:0px;
		background:#4c5357;
	}

	.selectBox select{
		width:50%;
	}

	.selectBox select.searchSel{
		width:30%;
	}

	.selectBox input.searchTxt{
		width:50%;
	}

	.selectBox button.searchBtn{
		width:20%;
	}
	

	.tblTopBox .tblTit,
	.tblTopBox .tblCnt{
		width:20%;
	}

	.tblTopBox .tblSetBox{
		width:80%;
	}

	.tblTopBox .serchTop{
		width:100%;
	}

	.tblTopBox .serchTop input[type=text]{
		width:30%;
	}

	.tblTopBox .serchTop button{
		width:9%;
	}

	.algList .algBtnSet button{
		width:30%;
	}



	.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn button:nth-child(1){
		border-right:1px solid #333;
	}
	


	.dateArea .calSearch{
		width:100%;
		margin-bottom:10px;
	}


	.mainBoxRes{
		width:100%;
	}

}

@media ( max-width: 720px ) {



	.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn button:nth-child(1){
		border-right:none;
	}

}

@media ( max-width: 767px ) {
/*  C*/

	.tblTopBox .tblTit,
	.tblTopBox .tblCnt,
	.tblTopBox .tblSetBox{
		width:100%;
	}

	.tblTopBox .tblSetBox select,
	.tblTopBox .tblSetBox input[type=text]{
		width:28%;
		float:left;

	}

	.tblTopBox .tblSetBox button{
		width:16%;
		float:left;
	}

	.tblTopBox .serchTop input[type=text]{
		width:80%;
	}

	.tblTopBox .serchTop button{
		width:20%;
	}

	.viewAllMenu .allMenuInner ul > li{
		width:100%;
		min-height:0;
	}

	#loginWrap .loginBg{
		width:100%;
	}



	.lecoTop .adminMenu .svList{
		width:49%;
	}

	.totalBox{
		display:none;
	}


	.dateArea{
		height:80px;
	}

	.dateArea button{
		width:20%;
		box-sizing:border-box;
	}

	.dateArea button.btnLst{
		border-right:1px solid #666;
	}

	.dateArea .calBox{
		width:100%;
		border-radius:5px 5px 0px 0px;
	}

	.singleArea{
		height:40px;
	}

	.singleArea .calBox{
		width:70%;
		border-radius:0;
		border-bottom:1px solid #666 !important;
	}

	.singleArea button{
		width:15%;
	}

	.dateArea .calBox{
		border-bottom:none;
	}

	.dateArea button.btnFst{
		border-radius:0px 0px 0px 5px;
	}

	.dateArea button.btnLst{
		border-radius:0px 0px 5px 0px;
	}


	.singleArea .calBox input.dateTxtBox{
		border-bottom:none;
/*		border-bottom:1px solid #333;*/
	}

	.algList select{
		width:100%;
	}

	.algList .algBtnSet{
		width:100%;
	}

	.algList .algBtnSet button{
		width:49%;
/*		float:left;*/
		margin-top:10px;
	}

/*	.algList .algBtnSet button:nth-child(1){*/
/*		border-right:none;*/
/*	}*/

	.algList .algBtnSet button.algSetOpen{
		width:50%;
/*		margin-top:10px;*/
	}


}



@media ( max-width: 500px ) {

	.tblTopBox .tblSetBox select{
		width:50%;
	}

	.tblTopBox .tblSetBox input[type=text]{
		width:70%;
	}

	.tblTopBox .tblSetBox button{
		width:30%;
	}


	.tblTopBox .tblSetBox p{
		text-align:left;
		padding-right:0;
		font-size:12px;
	}

	.tblTopBox .tblSetBox p span{
		color:#1b86d8;
		margin-left:10px;
		font-weight:bold;
	}

	.tblBtmBox button{
		width:30%;
	}

}

@media ( max-width: 400px ) {
	
	#loginWrap .loginBg .loginBox{
		width:100%;
		left:0px;
		margin-left:0;
	}

	#loginWrap .loginBg .loginBox .loginBoxList ul li{
		line-height:20px;
	}

	.tblBtmBox button{
		width:50%;
	}


}
