@charset "UTF-8";

body,html{
	height:100%;
/* 	background:#e5e5e5; */
}

#mask{
	display:none;
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	z-index:999;
}

#loading2,
#loading{

	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	background:rgba(0,0,0,0.8);
	z-index:10000;
}


/*------------------------------------*/

.sk-cube-txt{
  width: 80px;
  height: 80px;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-40px;
  margin-bottom:-40px;
  text-align:center;
  line-height:20px;
  padding-top:20px;
  font-size:15px;
  color:#fff;
  font-weight:bold;
  font-family:sans-serif;
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-40px;
  margin-bottom:-40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #274298;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

/*------------------------------------*/
/*api 가이드*/
.apiGudWrapTop{
	width:100%;
	height:60px;
	position:relative;
	background:#303b41;
	-webkit-transition: padding .5s ease;
	-moz-transition: padding .5s ease;
	-ms-transition: padding .5s ease;
	-o-transition: padding .5s ease;
	transition: padding .5s ease;
}

.apiGudWrapTop .alogo{
	width:250px;
	height:60px;
	padding-right:60px;
	position:relative;
	background:#ff5340;
}

.apiGudWrapTop .alogo a{
	color:#fff;
	font-size:32px;
	line-height:60px;
	margin-left:20px;
	font-weight:bold;
	text-decoration:none;
	font-family:sans-serif;
}

.apiGudWrap{
	display:block;
	width:100%;
	height:100%;
	min-height:600px;
	position:relative;
}

.apiGudBg{
	background:#303b41;
}

.apiTop{
	width:400px;
	height:100px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-300px;
	text-align:center;
	font-size:55px;
	font-weight:bold;
	font-family:sans-serif;
	color:#ff5340;
}

.noData{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-200px;
	text-align:center;
	border:3px solid #919191;
}

.noData .wIcon{
	width:100%;
	height:220px;
	line-height:220px;
	font-size:130px;
	color:#919191;
	margin-top:30px;;
}

.noData .wTxt{
	width:100%;
	height:80px;
}

.noData .wTxt h2{
	display:block;
	font-size:25px;
	line-height:80px;
	color:#919191;
}

.noData .wTxt h2 span{
	color:#ff5340;
}


/* 상단메뉴 */
.lecoTop{
	width:100%;
	height:60px;
	padding-left:250px;
	position:relative;
	background:#3151a9;
	-webkit-transition: padding .5s ease;
	-moz-transition: padding .5s ease;
	-ms-transition: padding .5s ease;
	-o-transition: padding .5s ease;
	transition: padding .5s ease;
}

.lecoTop .adminArea{
	width:auto;
	height:60px;
	line-height:60px;
	position:absolute;
	min-width:270px;
	text-align:right;
	top:0px;
	right:20px;
}

.lecoTop .adminArea ul > li{
	display:inline-block;
	height:20px;
	color:#fff;
	padding:0px 10px;
	border-right:1px solid #aaa;
	line-height:20px;
	font-size:12px;
	position:relative;
}

.lecoTop .adminArea ul > li.member{
	width:auto;
	text-align:center;
}

/*--상단도움말버튼추가--*/
.lecoTop .adminArea ul > li.infoIcon{
	font-size:20px;
}

.lecoTop .adminArea ul > li.infoIcon:hover{
	color:#ffde00;
	cursor:pointer;
}
/*---*/


.lecoTop .adminArea ul > li > a{
	color:#ccc;
	text-decoration:none;
}

.lecoTop .adminArea ul > li > a:hover{
	text-decoration:none;
}

.lecoTop .adminArea ul > li > a > b{
	color:#fff;
}

.lecoTop .adminArea ul > li:last-child{
	border-right:none;
}

.lecoTop .adminArea ul > li > ul.admSubmenu{
	position:absolute;
	z-index:100;
	width:150px;
	left:0px;
	top:29px;;
	height:auto;
	overflow:hidden;
	display:none;
}

.lecoTop .adminArea ul > li > ul.admSubmenu > li{
	display:block;
	width:150px;
	background:#303b41;
	border:none;
	height:auto;
	overflow:hidden;
}

.lecoTop .adminArea ul > li > ul.admSubmenu > li > a{
	display:block;
	width:100%;
	line-height:50px;
	text-align:center;
	padding-left:5px;
}

.lecoTop .adminArea ul > li > ul.admSubmenu > li > a > i{
	margin-right:5px;
}


.lecoTop .adminTit{
	width:100%;
	height:60px;
	line-height:60px;
	color:#fff;
	font-size:15px;
	padding-left:20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.lecoTop .adminMenu{
	width:100%;
	height:60px;
}

.lecoTop .adminMenu .tmBox{
	width:150px;
	height:60px;
	float:left;
	text-align:center;
	line-height:60px;
	color:#fff;
	font-size:15px;
	cursor:pointer;
	position:relative;
}

.lecoTop .adminMenu .disable .tmBoxTop a{
	color:#999 !important;
	cursor:not-allowed;
}

.lecoTop .adminMenu .disable .tmBoxTop i{
	color:#666 !important;
}


.lecoTop .adminMenu .svList{
	width:250px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.lecoTop .adminMenu .svList:hover{
	background:#032243;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.lecoTop .adminMenu .svList ul{
	position:absolute;
	top:60px;
	width:100%;
	display:none;
	z-index:100;
}

.lecoTop .adminMenu .svList ul li{
	display:block;
	width:100%;
	line-height:60px;
	height:60px;
	padding:0px 20px;
	background:#032243;
	text-align:left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.lecoTop .adminMenu .svList ul li.active,
.lecoTop .adminMenu .svList ul li:hover{
	background:#005263;
	color:#fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.lecoTop .adminMenu .svList .tmBoxTop{
	width:100%;
	height:60px;
	text-align:left;
	position:relative;
	padding:0px 50px 0px 20px;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.lecoTop .adminMenu .svList .tmBoxTop a{
	color:#fff;
	text-decoration:none;
	display:block;
	width:100%;
	line-height:60px;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.lecoTop .adminMenu .svList .tmBoxTop a:hover{
	color:#fff;
	text-decoration:none;
}

.lecoTop .adminMenu .svList .tmBoxTop i{
	display:block;
	width:30px;
	height:30px;
	right:15px;
	top:15px;
	position:absolute;
	text-align:center;
	line-height:30px;
}

.lecoTop .adminMenu .totalBox a:hover,
.lecoTop .adminMenu .totalBox a{
	color:#fff;
	text-decoration:none;
}

.lecoTop .adminMenu .totalBox span{
	display:inline-block;
	width:30px;
	height:30px;
	background:#fff;
	color:#303b41;
	text-align:center;
	line-height:34px;
	margin-left:5px;
	border-radius:15px;
	font-weight:bold;
}

/* 전체메뉴 */
.viewAllMenu{
	position:absolute;
	width:100%;
	max-width:1920px;
	height:auto;
	overflow:hidden;
	padding-left:250px;
	padding-top:60px;
	z-index:90;
	left:0px;
	top:0px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	left:-1920px;
}

.viewAllMenu .allMenuInner{
	width:100%;
	height:auto;
	overflow:hidden;
	background:rgba(226, 226, 226, 0.9);
	padding:30px;
}

.viewAllMenu .allMenuInner ul > li{
	display:block;
	float:left;
	height:auto;
	overflow:hidden;
	line-height:60px;
	width:25%;
	min-height:420px
}

.viewAllMenu .allMenuInner ul > li.allMenu{
	display:none;
}

.viewAllMenu .allMenuInner ul > li a:hover,
.viewAllMenu .allMenuInner ul > li a{
	color:#444;
	font-size:18px;
	text-decoration:none;
	line-height:60px;
	display:block;
	width:95%;
/*	border-top:1px solid #ddd;*/
	border-bottom:1px solid #8e8e8e;
}

.viewAllMenu .allMenuInner ul > li a > i{
	margin-right:5px;
}

.viewAllMenu .allMenuInner ul > li > i{
	display:none;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu,
.viewAllMenu .allMenuInner ul > li > ul.onMenu{
	display:block !important;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li{
	display:block;
	width:100%;
	line-height:40px;
	padding-left:30px;
	height:auto;
	overflow:hidden;
	min-height:0;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li a{
	font-size:14px;
	line-height:40px;
	border:none;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li a:before{
	content:'-';
/*	font-size:8px;*/
/*	margin-right:5px;*/
/* 	background:url(../img/arr.png) no-repeat center center; */
	width:6px;
	height:9px;
	position:absolute;
	margin: 0px -13px;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li > ul.lastMenu > li{
	display:block;
	width:100%;
	line-height:40px;
	padding-left:20px;
	height:30px;
	min-height:0;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li > ul.lastMenu > li:last-child{
	margin-bottom:20px;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li > ul.lastMenu > li a{
	color:#cacaca;
	border:none;
}

.viewAllMenu .allMenuInner ul > li > ul.subMenu > li > ul.lastMenu > li a:before{
	content:'';
	background: none;
}


/* 왼쪽메뉴 */
.left-col{
	width:250px;
	height:auto;
/*	overflow:hidden;*/
	min-height:600px;
	position:absolute;
	left:0px;
	top:0px;
	background:#fafafa;
	z-index:100;
	-webkit-transition: left .5s ease;
	-moz-transition: left .5s ease;
	-ms-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;

	-webkit-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	-moz-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
}



.left-col .logoTop{
	width:100%;
	height:60px;
}

.left-col .logoTop .logo{
	width:100%;
	height:60px;
	padding-right:60px;
	position:relative;
	background:#274298;
}

.left-col .logoTop .logo a{
	display:block;
	padding-top:5px;
	color:#fff;
	font-size:21px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}

.left-col .logoTop .logo a span{
	display:block;
	font-size:13px;
}

.left-col .logoTop .logo a:hover{
	text-decoration:none;
}

.left-col .logoTop .logo a .logoImg{
	position:relative;
	top:17px;
}

.left-col .logoTop .topBtn{
	width:60px;
	height:60px;
	position:absolute;
	right:0px;
	top:0px;
	background:#274298;
	color:#fff;
	text-align:center;
	line-height:60px;
	font-size:20px;
	cursor:pointer;
	z-index:100;
}


.left-col .nav{
	width:100%;
	height:auto;
	overflow:hidden;
}

.left-col .nav h2{
	height: 50px;
    background: #8caadb;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.left-col .nav ul{

}

.left-col .nav ul > li{
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #e3e8eb;
	background:#fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.left-col .nav ul > li:last-child{
	border-bottom:none;
}


.left-col .nav ul > li.active{
	background:#fff;
/*	border-bottom:1px solid #3f3f3f;*/
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.left-col .nav ul > li.active > i,
.left-col .nav ul > li.active > a{
	color:#405dae;
	font-weight:bold;
}

.left-col .nav ul > li.active > a > i{
	color:#fff;
}

.left-col .nav ul > li.allMenu{
	background:#3151a9;
/*	height:40px;*/
}

.left-col .nav ul > li.allMenu a{
	color:#fff;
}

/*.left-col .nav ul > li.allMenu a,*/
/*.left-col .nav ul > li.allMenu i{*/
/*	line-height:40px;*/
/*	font-size:14px;*/
/*}*/

.left-col .nav ul > li > a{
	display:block;
	width:100%;
	height:60px;
	line-height:60px;
	color:#4c4c4c;
	position:relative;
	font-size:16px;
	padding:0px 20px;
	text-decoration:none;
	z-index:10;
}

.left-col .nav ul > li > a:hover{
	text-decoration:none;
}

.left-col .nav ul > li > a i{
	position:relative;
	display:inline-block;
	line-height:32px;
	margin-right:10px;
}

.left-col .nav ul > li > i{
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	color:#fff;
	position:absolute;
	right:20px;
	top:15px;
	text-align:center;
	cursor:pointer;
}

.left-col .nav ul > li > i.ti-angle-down {
	background: url(../img/iconArrow_02.png) no-repeat 0 0;
}

.left-col .nav ul > li > i.ti-angle-up {
	background: url(../img/iconArrowOn_02.png) no-repeat 0 -30px;
}

.left-col .nav ul.subMenu{
	display:none;
}


.left-col .nav ul.onMenu{
	display:block;
	border-top:1px solid #e3e8eb;
}

.left-col .nav ul.subMenu > li{
	width:100%;
	display:block;
	height:40px;
	border:none;
}

.left-col .nav ul.subMenu > li > a{
	width:100%;
	display:block;
	line-height:40px;
	font-size:15px;
	padding-left:15px;
	position:relative;
	color:#4c4c4c;
	padding:0px 10px 0px 40px;
	text-decoration:none;
	background:#fafafa;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;

}

.left-col .nav ul.subMenu > li.active > a,
.left-col .nav ul.subMenu > li > a:hover{
/*	background:#e0e0e0;*/
	color:#e96e00;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}


.left-col .nav ul.subMenu > li > a:before{
	content:"-";
/*	font-size:8px;*/
/*	color:#303b41;*/
	position:absolute;
	left:47px;
	top:0px;
/* 	background:url(../img/arr.png) no-repeat center center; */
	width:6px;
	height:9px;
}


.left-col .nav ul.subMenu > li > ul.lastMenu{
	display:none;
}





/* 컨텐츠 */
.right-col{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:540px;
	padding-left:250px;
	-webkit-transition: padding .5s ease;
	-moz-transition: padding .5s ease;
	-ms-transition: padding .5s ease;
	-o-transition: padding .5s ease;
	transition: padding .5s ease;
}

.mConBox{
	width:100%;
	height:auto;
	overflow:hidden;
/*	background:#fff;*/
}


.mConBox .subTopMenu{
	width:100%;
/*	height:60px;*/
	background:#e8e8e8;
	overflow:hidden;


}

.mConBox .subTopMenu ul{
/*	width:1900px;*/
	border-bottom:1px solid #47565f;
	box-sizing:border-box;
	height:60px;
}

.mConBox .subTopMenu ul li{
	display:inline-block;
	height:50px;
	font-size:14px;
	color:#666;
	padding:0px 20px;
	margin-top:10px;
	border-top:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #47565f;
	float:left;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.mConBox .subTopMenu ul li:first-child{
	margin-left:10px;
}

.mConBox .subTopMenu ul li:hover,
.mConBox .subTopMenu ul li.active{
	background:#fff;
	color:#47565f;
	border-top:1px solid #47565f;
	border-left:1px solid #47565f;
	border-right:1px solid #47565f;
	border-bottom:1px solid #fff;
	box-sizing:border-box;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;

}

.mConBox .subTopMenu ul li:hover a,
.mConBox .subTopMenu ul li.active a{
	color:#47565f;
	text-decoration:none;
}

.mConBox .subTopMenu ul li a{
	display:block;
	width:100%;
	line-height:44px;
	color:#47565f;
	text-decoration:none;
}

.mConBox .subTopMenu ul li a:hover{
	color:#47565f;
	text-decoration:none;
}


.mCont{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:20px 30px;
}

.mCont .pageRoute{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:right;
	position:relative;

}

.mCont .pageRoute h2{
	display:inline-block;
	line-height:40px;
	position:absolute;
	left:0px;
	top:0px;
}

.mCont .pageRoute ul{
	display:block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mCont .pageRoute ul li{
	width:auto;
	display:inline-block;
	font-size:12px;
}

.mCont .pageRoute ul li.current a:hover,
.mCont .pageRoute ul li a:hover{
	color:#ff5340;
}

.mCont .pageRoute ul li.current a{
	color:#333;
}


.mCont .pageRoute ul li a{
	text-decoration:none;
	color:#aaa;
}

.mCont .pageRoute ul li i{
	font-size:10px;
	color:#aaa;
}

.mCont h2{
	font-size:21px;
	font-weight:600;
	line-height:40px;
	color:#333;
}

.mCont h2 i{
	margin-right:10px;
}



.conBox{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:600px;
	border:1px solid #ddd;
	padding:20px;
/*	margin-top:20px;*/
/*	border-top:1px solid #ee1d23;*/
	border: 1px solid #bbb;
	background:#fff;
}

.conBoxHide{
	padding:0 !important;
	height:0px !important;
	min-height:0px !important;
}

.moreBtn{
	width:60%;
	height:40px;
	text-align:center;
	border:1px solid #333;
	margin:0 auto;
	line-height:40px;
	cursor:pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.moreBtn:hover{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background:#333;
	color:#fff;
}

.sonBox{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:150px;
/*	border:1px solid #ddd;*/
	margin-top:20px;
/*	border-radius:5px;*/
	background:#fdfdfd;
}



.bgC1{
	color:#005d83;
	border-left:2px solid #005d83;
}


.bgC2{
	color:#e62121;
	border-left:2px solid #e62121;
}


.bgC3{
	color:#00afb7;
	border-left:2px solid #00afb7;
}


.bgC4{
	color:#ff7200;
	border-left:2px solid #ff7200;
}


.sonBox .sBoxTop{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:5px 10px;
/*	color:#fff;*/
	background:#fff;
}

.sonBox .sBoxTop h4{
	display:block;
	width:100%;
	line-height:32px;
	font-size:24px;
	padding-left:20px;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.sonBox .sBoxTop h4 span{
	font-size:15px;
	font-weight:normal;
}

.sonBox .sBoxCon{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:10px;
}

.sonBox .sBoxCon ul li{
	display:block;
	width:100%;
	float:left;
	padding-left:20px;
}

.sonBox .sBoxCon ul li p{
	font-size:16px;
	color:#303b41;
}

.sonBox .sBoxCon ul li p b{
	margin-right:10px;
}


.xonBox{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:300px;
	border:1px solid #bbb;
/*	border-top:1px solid #ff5340;*/
	background:#fff;
}

.mCont h3{
	font-size:20px;
	font-weight:600;
	display:block;
	width:100%;
	line-height:60px;
	padding:0px 20px;
	border-bottom:1px solid #dddddd;
	color:#666;
	background:#fff;
}

.mCont h3 > span{
	color:#666;
	font-size:14px;
	font-weight:normal;
}

.gInBox{
	width:100%;
	height:400px;
/*	padding:20px;*/
}

.gInBox table{
	width:90%;
	height:auto;
	overflow:hidden;
	padding-top:20px;
	margin-left:5%;
}

.gInBox table th{
	text-align:center;
	border-left:1px solid #ddd;
	font-size:16px;
}
.gInBox table td{
	text-align:right;
	padding:0px 20px;
	font-size:15px;
}

.gInBox table tr:first-child th,
.gInBox table tr:first-child td{
	border-top:1px solid #ddd;
}


.gInBox table th,
.gInBox table td{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	height:57px;
}

.gInBox table th{
	background:#fafafa;
}

.dataTbl{
	width:100%;
	height:400px;
	padding:20px 0px;
	background:#fff;

}

.dataTbl .dataTblTop{
	width:100%;
	height:40px;
	border-bottom:1px solid #aaa;
	border-top:1px solid #aaa;
}

.dataTbl .dataTblTop ul li{
	display:inline-block;
	float:left;
	width:50%;
	text-align:center;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
}

.dataTbl .dataTblTop ul li i{
	cursor:pointer;
}

.dataTbl .dataTblList{
	width:100%;
	height:320px;
}

.dataTbl .dataTblList table{
	width:100%;
}

.dataTbl .dataTblList table td{
	width:50%;
	height:40px;
	border-bottom:1px solid #f0f0f0;
	font-size:14px;
}

.dataTbl .dataTblList table td:first-child{
	text-align:center;
	border-right:1px solid #f0f0f0;
}

.dataTbl .dataTblList table td:last-child{
	text-align:right;
	padding-right:20px;
}





.grapComm{
	width:auto;
	height:30px;
	line-height:40px;
	display:inline-block;
/*	text-align:right;*/
}

.grapComm span{
	font-size:14px;
	line-height:40px;
	color:#ff5340;
}

.selectBox{
	padding:0;
	background:#ff5340;
}

.selectBox select{
	width:25%;
	height:50px;
	line-height:50px;
	font-size:15px;
	padding:0px 10px;
	border:none;
	box-sizing:border-box;
	float:left;
}

.selectBox select.searchSel{
	width:10%;
}

.selectBox select:hover{
	background:#fafafa;
}

.selectBox input.searchTxt{
	width:30%;
	height:50px;
	line-height:50px;
	font-size:15px;
	padding:0px 10px;
	border:none;
	box-sizing:border-box;
	float:left;
}

.selectBox button.searchBtn{
	width:10%;
	height:50px;
	line-height:50px;
	font-size:15px;
	border:none;
	text-align:center;
	background:#ff5340;
	color:#fff;
	box-sizing:border-box;
	float:left;
}


/* 미리보기 / 테이블 */

table.viewDateTbl{
	width:100%;
	height:auto;
	overflow:hidden;
/*	min-width:800px;*/
}

table.viewDateTbl.wide1600{
	width:1600px;
}

table.viewDateTbl.wide2000{
	width:2000px;
}

table.viewDateTbl.wide2960{
	width:2960px;
}

table.colDateTbl{
	min-width:0;
}



table.viewDateTbl tr:nth-child(2) th{
	border:none;
	border-left:1px solid #aaa;
	border-bottom:1px solid #aaa;
}

table.viewDateTbl tr:nth-child(2) th.lastChild{
	border-right:1px solid #aaa;
}

table.viewDateTbl th:last-child{
	border-right:1px solid #aaa !important;
}

table.viewDateTbl th{
	height:50px;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-bottom:1px solid #aaa;
	text-align:center;
	background:#fdfdfd;
	font-size:16px;
	font-weight:bold;
	padding:15px 10px;
	word-break:break-all;
	white-space:pre-wrap;
}

table.viewDateTbl th i.fa-sort-desc{
	margin-top:-2px;
	position:absolute;
}

table.viewDateTbl th i.fa-sort-asc{
	margin-top:5px;
	position:absolute;
}

table.viewDateTbl tr:nth-child(2) th{
	background:#f8f8f8;
}

table.viewDateTbl td img{
	width:80px;
	height:80px;
}

table.viewDateTbl td:last-child{
	border-right:1px solid #ddd;
}

table.viewDateTbl td{
	text-align:center;
	padding:15px 10px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:15px;
	word-break:break-all;
/*	white-space:pre-wrap;*/
}

table.viewDateTbl td b{
	color:#1dacee;
}

table.viewDateTbl td a{
	color:#1dacee;
}

table.viewDateTbl td a:hover{
	text-decoration:none;
}

table.viewDateTbl tr.topRank td:last-child{
	border-right:1px solid #ddd;
}

table.viewDateTbl tr.topRank td{
	background:#f5fbfb;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}

table.viewDateTbl tr.svsDel td{
	background:rgba(225, 210, 255, 0.33);
	color:#aaa;
}

table.menuSetTbl tr.svsDel td{
	background:rgba(225, 210, 255, 0.33);
	color:#aaa;
}

table.menuSetTbl tr.lvAdepth td{
	background:#fafafa;
}

table.menuSetTbl tr.lvBdepth td:nth-child(3){
	padding-left:20px;
}

table.menuSetTbl tr.lvCdepth td:nth-child(3){
	padding-left:40px;
}

table.menuSetTbl tr.lvBdepth td:nth-child(3):before{
	content:"- ";
}

table.menuSetTbl tr.lvCdepth td:nth-child(3):before{
	content:"· ";
}

table.viewDateTbl tr.active td{
	background:#e1f5f3;
}

table.viewDateTbl tr.active td a{
	color:#666;
}

table.menuSetTbl tr:hover{
	background:transparent !important;
}

table.menuSetTbl tr:hover th{
	background:#fdfdfd;
}

table.menuSetTbl tbody.tbGroup tr:first-child td{
	border-top:1px solid #333;
}


/* 상세목록 테이블 */

table.viewDetailTbl{
	width:100%;
	height:auto;
	overflow:hidden;
}

table.viewDetailTbl tr:hover th{
	background:#f8f8f8 !important;
}

table.viewDetailTbl tr:hover{
	background:none !important;
}

table.viewDetailTbl th:last-child{
	border-right:1px solid #aaa;
}

table.viewDetailTbl th{
	height:50px;
/*	border-top:1px solid #aaa;*/
	border-left:1px solid #aaa;
	text-align:center;
	background:#f8f8f8;
	font-size:14px;
}

table.viewDetailTbl thead tr:first-child th{
	border-top:1px solid #aaa;
}

table.viewDetailTbl thead tr th{
	border-bottom:1px solid #aaa;
}

/*table.viewDetailTbl tr:nth-child(3) td{*/
/*	border-top:1px solid #aaa;*/
/*}*/

table.viewDetailTbl td:last-child{
	border-right:1px solid #ddd;
}

table.viewDetailTbl td{
	height:40px;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	text-align:center;
	font-size:13px;
}


table.viewDetailTbl tr.tblTotal:hover,
table.viewDetailTbl tr.tblTotal{
	background:#f8f8f8 !important;
}

table.viewDetailTbl tr.tblTotal td:last-child{
	border-right:1px solid #aaa;
}

table.viewDetailTbl tr.tblTotal td{
	border-left:1px solid #aaa;
	border-bottom:1px solid #aaa;
}

table.viewDetailTbl tr.tblTotalTop td{
	border-top:3px double #aaa;
}

/* 검색어별 추천검색어 */
.recoSearchword{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-top:0px;
	box-sizing:border-box;
	padding:0 10px;
}

.recoSearchword ul{
	width:25%;
	height:auto;
	overflow:hidden;
	float:left;
	min-height:300px;
	box-sizing:border-box;
	padding:5px 5px;
}

.recoSearchword ul li{
    display:block;
	width:100%;
    float: left;
    line-height: 30px;
    color: #2d2d2d;
    padding:10px 10px 10px 45px;
	font-size:16px;
	position:relative;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
}

.recoSearchword ul li:hover{
    background:#f8f8f8;
}

.recoSearchword ul li span{
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	border:1px solid #ccc;
	background:#f8f8f8;
	text-align:center;
	line-height:30px;
	left:5px;
	top:10px;
}


#colInfo{
	display:none;
}


/* 테이블 상단 / 카운터 / 검색 / 정렬 */

.tblTopBox{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-top:20px;
}

.tblTopBox .tblTit{
	width:30%;
	height:40px;
	float:left;
}

.tblTopBox .tblTit h5{
	display:block;
	width:100%;
	line-height:40px;
	font-size:16px;
}

.tblTopBox .tblCnt{
	width:30%;
	height:40px;
	line-height:40px;
	font-size:13px;
	float:left;
}

.tblTopBox .tblCnt span{
	color:#0492ff;
	font-weight:bold;
}

.tblTopBox .tblSetBox{
	width:70%;
	height:auto;
	overflow:hidden;
	text-align:right;
	float:left;
}

.tblTopBox .tblSetBox select{
	width:20%;
	height:40px;
	border:1px solid #ddd;
	padding:0px 10px;
}

.tblTopBox .tblSetBox input[type="text"]{
	width:20%;
	height:40px;
	border:1px solid #ddd;
	padding:0px 10px;
}

.tblTopBox .tblSetBox button{
	width:10%;
	height:40px;
	font-size:15px;
	border:none;
	text-align:center;
	background:#ff5340;
	color:#fff;
	box-sizing:border-box;
	font-size:12px;
}

.tblTopBox .tblSetBox p{
	line-height:40px;
	padding-right:20px;
}

.tblTopBox .tblSetBox p span{
	color:#1b86d8;
	margin-left:10px;
	font-weight:bold;
}

.tblTopBox .serchTop{
	width:100%;
}

.tblTopBox .serchTop button{
	width:6%;
}


/* 테이블 하단 */

.tblBtmBox{
	width:100%;
	height:40px;
	text-align:right;
	margin-top:20px;
}

.tblBtmBox button{
	width:100px;
	height:40px;
	font-size:15px;
	border:none;
	text-align:center;
	background:#ff5340;
	color:#fff;
	box-sizing:border-box;
	font-size:12px;
}




/* 알고리즘 리스트 */

.algList{
	width:100%;
	height:auto;
	overflow:hidden;
}

.algList select{
	width:30%;
	height:40px;
	border:1px solid #ddd;
	padding:0px 10px;
	float:left;
}

.algList select.selected{
	background:#333;
	color:#fff;
	border:1px solid #333;
}

.algBtnSet{
	width:auto;
	height:auto;
	overflow:hidden;
	display:inline-block;
}

button.brdTopBtn,
.algBtnSet button{
	width:186px;
	border:1px solid #333;
	background:#fff;
	height:40px;
	line-height:40px;
	text-align:center;
	box-sizing:border-box;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}

.algBtnSet button:hover{
	background:#333;
	color:#fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.algBtnSet button i{
	margin-right:5px;
}

.algBtnSet button.algSetOpen{
	border:1px solid #ff5340;
	color:#ff5340;
/*	display:none;*/
}

.algBtnSet button.algSetOpen:hover{
	background:#ff5340;
	color:#fff;
}

/* 알고리즘 설정 박스 */

.algSetBox{
	width:100%;
	height:auto;
	overflow:hidden;
/*	min-height:600px;*/
	border:1px solid #ddd;
	border-top:1px solid #ff5340;
/*	padding:20px 0px;*/
	background:#fff;
}

.algSetBox .algSetBoxTop{
	width:100%;
	height:80px;
	position:relative;
	border-bottom:1px solid #ff5340;
	padding:20px 0px;
}

.algSetBox .algSetBoxTop i{
	position:absolute;
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	right:20px;
	top:23px;
	cursor:pointer;
	color:#ff5340;
}

.algSetBox .algSetBoxTop h5{
	display:block;
	width:100%;
	padding:0px 50px 0px 20px;
	line-height:40px;
	font-size:16px;
	color:#ff5340;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.algSetBox .algSetBoxCont{
	width:100%;
	height:auto;
	overflow:hidden;
/*	padding:20px 0px;*/
}

.algSetBox .algSetBoxCont .algSetContTop{
	width:100%;
	height:50px;
	background:#ff5340;
	position:relative;
}

.algSetBox .algSetBoxCont .algSetContTop h6{
	display:block;
	width:100%;
	padding:0px 50px 0px 20px;
	line-height:50px;
	color:#fff;
	font-size:15px;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.algSetBox .algSetBoxCont .algSetContTop i{
	position:absolute;
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	right:20px;
	top:10px;
	cursor:pointer;
	color:#fff;
}

.algSetBox .algSetBoxCont .algSetContBox{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:20px;
}

.algSetBox .algSetBoxCont .algSetContBox select{
	width:100%;
}

.algSetBox .algSetBoxCont .algSetContBox h6{
	display:block;
	width:100%;
	line-height:40px;
	font-size:13px;
	font-weight:500;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.algSetBox .algSetBoxCont .algSetContBox h6 span{
	font-size:12px;
	color:#ff5340;
	display:inline-block;
	line-height:20px;
}

.algSetBox .algSetBoxCont .algSetContBox p{
	display:block;
	width:100%;
	line-height:20px;
	padding:10px;
	background:#f8f8f8;
/*	border-radius:5px;*/
	margin-bottom:10px;
	font-size:12px;
}

.algSetBox .algSetBoxCont .algSetContBox input[type="text"]{
	width:100%;
	height:40px;
	padding:0px 10px;
	font-size:12px;
	background:none;
	border:1px solid #666;
}

.algSetBox .algSetBoxCont .algSetContBox input[type="text"].algSetTxt{
	width:70%;
}

.algSetBox .algSetBoxCont .algSetContBox button.algSetBtn{
	width:28%;
	height:40px;
	text-align:center;
	border:1px solid #666;
	box-sizing:border-box;
	font-size:12px;
	background:#666;
	color:#fff;
}

.algSetBox .algSetBoxCont .algSetContBox input[type="text"].smBox{
    width:50px;
}

.algSetBox .algSetBoxCont .algSetContBox input[type="number"].smBox{
	width:50px !important;
	padding:0px 0px 0px 10px;
}

.algSetBox .algSetBoxCont .algSetContBox input[type="text"].algSetDate{
	/*width:45%;*/
}

.algSetBox .algSetBoxCont .algSetContBox input[type="number"].algSetDate{
	width:40% !important;
	padding:0px 0px 0px 10px;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn{
	width:100%;
	height:auto;
	overflow:hidden;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn button{
	width:33.3333%;
	height:40px;
	text-align:center;
	float:left;
	margin-top:20px;
	background:#666;
	color:#fff;
	box-sizing:border-box;
	font-size:12px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn button:nth-child(2){
	background:#333;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn button i{
	margin-right:5px;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetContBtn button:nth-child(1){
	border-right:none;
}



.algSetBox .algSetBoxCont .algSetContBox .algSetList{
	width:100%;
	height:auto;
	overflow:hidden;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetList ul{
	padding:0;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetList ul li{
	display:block;
	height:40px;
	margin:5px 0px;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetList select:nth-child(1){
	width:30%;
	float:left;
	border-right:none;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetList select:nth-child(2){
	width:40%;
	float:left;
	border-right:none;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetList input[type="text"]{
	width:30%;
	float:left;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetListBtn{
	width:100%;
	height:40px;
	margin-top:10px;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetListBtn button{
	width:50%;
	height:40px;
	float:left;
	background:#666;
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:12px;
}

.algSetBox .algSetBoxCont .algSetContBox .algSetListBtn button:nth-child(2){
	background:#333;
}

.algSetBox .algSetBoxCont .algSetContBox .colorSet{
	width:100%;
	height:40px;
}

.algSetBox .algSetBoxCont .algSetContBox .colorSet{
	width:100%;
	height:40px;
	padding-left:60px;
	position:relative;
}

.algSetBox .algSetBoxCont .algSetContBox .colorSet .cTxt{
	width:100%;
}

.algSetBox .algSetBoxCont .algSetContBox .txtSet{
	width:100%;
	height:40px;
}

.algSetBox .algSetBoxCont .algSetContBox .txtSet input[type="text"]{
	width:40%;
	float:left;
}

.algSetBox .algSetBoxCont .algSetContBox .txtSet span{
	width:20%;
	float:left;
	display:inline-block;
	line-height:40px;
	padding:0px 5px;
}

.algSetBox .algSetBoxCont .algSetContBox .txtSet select{
	width:40%;
	float:left;
}


.algSetBox .algSetBoxCont .algSetContBoxBtn{
	width:100%;
	height:50px;
	border-top:1px solid #ff5340;pie.color

}

.btnSet-3 button{
	width:33.3333% !important;
}

.algSetBox .algSetBoxCont .algSetContBoxBtn button{
	width:50%;
	height:50px;
	float:left;
	text-align:center;
	box-sizing:border-box;
}

/* 위젯 미리보기 */

.widgPrview{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:0px 50px;
	
}

.widgPrview .widgPreInner{
	width:100%;
	height:auto;
/*	overflow:hidden;*/
	position:relative;
}

.widgPrview .widgVerBtn{
	position:absolute;
	width:250px;
	height:50px;
	background:#fff;
	text-align:center;
	line-height:50px;
	font-size:20px;
	cursor:pointer;
	display:none;
}

.widgPrview .wTop{
	left:20px;
	top:0px;
}

.widgPrview .wDown{
	left:20px;
	bottom:0px;
}

.widgPrview .widgPreBtn{
	position:absolute;
	width:50px;
	height:250px;
	top:15px;
	background:#fff;
	text-align:center;
	line-height:250px;
	font-size:20px;
	cursor:pointer;
}

.widgPrview .wRight{
	right:-50px;
}

.widgPrview .wLeft{
	left:-50px;
}

.widgPrview ul{
/*	width:2000px;*/
	height:auto;
	overflow:hidden;
}

.widgPrview ul li{
	width:250px;
	height:250px;
	display:inline-block;
	float:left;
	padding:5px;
}

.widgPrview ul li .widgBox{
	width:100%;
	height:240px;
	border:1px solid #666;
	padding:10px;
}

.widgPrview ul li .widgBox .widgBoxPhoto{
	width:100%;
	height:auto;
	overflow:hidden;
}

.widgPrview ul li .widgBox .widgBoxPhoto img{
	width:100%;
}

.widgPrview ul li .widgBox .widgBoxTxt{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:10px 0px;
}

.widgPrview ul li .widgBox .widgBoxTxt h4{
	display:block;
	width:100%;
	line-height:20px;
	font-size:15px;
}

.widgPrview ul li .widgBox .widgBoxTxt p{
	display:block;
	width:100%;
	line-height:20px;
	font-size:13px;
}




/*추천영역별*/

.viewDateTbl tr th .fa-sort{
	font-size:12px;
}

.viewDateTbl_wrap{
	height:400px;
	overflow-y:auto;
/*	margin-top:20px;*/
}

.gInhalfBox{
    width: 100%;
    height: 300px;
}

.gIndoubleBox{
    width: 100%;
    height: 664px;
}

span.idSta{

}

span.use,span.sucs{
	color:#3383c0;
}

span.stop,span.dele{
	color:#ff5340;
}

span.wait{
	color:#999999;
}

button.blueBtn{
	border:1px solid #3383c0 !important;
	background:#3383c0 !important;
	color:#fff !important;
}

button.grayBtn{
	border:1px solid #666 !important;
	background:#666 !important;
	color:#fff !important;
/*	width:80px !important;*/
}



/* 상품추천화면 관리 */

table.recView td{
	height:80px;
}

table.recView td.recViewTit{
	position:relative;
	padding-left:40px;
	color:#f86809;
}

table.recView td.recViewTit i{
	width:40px;
	height:40px;
	display:block;
	line-height:40px;
	position:absolute;
	left:0px;
	top:20px;
	text-align:center;
	cursor:pointer;
}

table.recView tr.recViewH{
	background:#f4f2f0;
	display:none;
}

table.innerTbl{
	width:100%
}

table.innerTbl th,
table.innerTbl td{
	padding:10px 20px;
	background:none;
	border:none !important;
	height:40px;
}

table.innerTbl td{
	background:#f8f8f8;
}

table.innerTbl tr:hover{
	background:none;
}

table.innerTbl th span{
	font-weight:bold;
	color:#f86809;
}


/* 공지사항 */

table.notiTabl td.notiTit{
	position:relative;
	padding-left:40px;
}

table.notiTabl td.notiTit i{
	width:40px;
	height:40px;
	display:block;
	line-height:40px;
	position:absolute;
	left:0px;
	top:10px;
	text-align:center;
	cursor:pointer;
}

table.notiTabl tr.notiTit{
	background:#f4f2f0;
	display:none;
}

table.notiTabl tr.notiViewH{
	display:none;
}

table.notiTabl tr.notiViewH td.notiCont{
	padding:20px 80px;
	background:#f8f8f8;
	text-align:left;
}

/*system*/

.AddDefaultBtn{
	padding:0 10px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border: 1px solid #0c94cf;
    background: #0c94cf;
    box-sizing: border-box;
    color: #fff;
}


.viewDateTbl .tblInBtn{
	padding:0px 10px;
    height: 30px;
	overflow:hidden;
    text-align: center;
    /*background: #fff;*/
    color: #666;
    box-sizing: border-box;
	border: 1px solid #666;
    font-size: 12px;
	line-height:30px;
/*	letter-spacing:-2px;*/
}



.viewDateTbl .tblInBtn:hover {
    background: #333;
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.viewDateTbl .btnDisable{
    color: #ddd;
	border: 1px solid #ddd;
	cursor:not-allowed;
}

.viewDateTbl .btnDisable:hover{
    background: #fff;
    color: #ddd;
}

.pageNum{
	text-align:center;
	line-height:40px;
/*	min-width:800px;*/
}

.pageNum a{
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 10px;
	border:1px solid #ddd;
}

.pageNum a:hover{
	background:#555;
	color:#fff;
}

.pageActive{
	background:#555;
	color:#fff;
}


td.pwTd input[type="password"]{
	width:50%;
	min-width:100px;
	height:40px;
	padding:0px 10px;
	font-size:12px;
	background:none;
	border:1px solid #666;
}

td.pwTd p{
	font-size:11px;
	line-height:20px;
	margin-top:5px;
	display:block;
	color:#ec4c4c;
}


/* 버튼색 */

.darkGrayBtn{
	background:#333 !important;
	color:#fff !important;
}

.lightGrayBtn{
	background: #666 !important;
    color: #fff;
    border: 1px solid #666 !important;
}

.deleteBtn{
	background:#ff5340 !Important;
    border:1px solid #ff5340 !Important;
	color:#fff !Important;
}


/* 토글 박스 */

.dToggle{
	width:80px;
	height:30px;
	margin:0 auto;
	cursor:pointer;
}

.fOn li{
	color:#3383c0;
}

.fOff li{
	color:#ccc;
}

.dToggle ul li{
	width:50%;
	float:left;
	display:inline-block;
	text-align:center;
	line-height:30px;
	font-size:13px;
	font-weight:bold;
}

.dToggle ul li i{
	font-size:30px;
	line-height:30px;
}

.dToggle ul li span{
	line-height:20px;
	display:inline-block;
	padding-top:8px;
}


/* 추천알고리즘 사용설정 */

.algUseBox{
	width:100%;
	height:auto;
	overflow:hidden;
}

.algUseBox .algUseSetBox{
	width:45%;
	height:auto;
	overflow:hidden;
	float:left;
	min-height:250px;
}

.algUseBox .algUseSetBox h4{
	font-size:15px;
	line-height:40px;
	display:block;
	text-align:center;
}

.algUseBox .algUseSetBox .algUseList{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:210px;
/*	background:#f8f8f8;*/
}

.algUseBox .algUseSetBox .algUseList ul li{
	display:block;
	height:30px;
	padding:5px 20px;
	border:1px solid #aaa;
	border-bottom:none;
	background:#fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
	cursor:pointer;
	-webkit-box-shadow: 1px 7px 18px -10px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 7px 18px -10px rgba(0,0,0,0.6);
	box-shadow: 1px 7px 18px -10px rgba(0,0,0,0.6);
}

.algUseBox .algUseSetBox .algUseList ul li:hover{
	background:#eee;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.algUseBox .algUseSetBox .algUseList ul li.active{
	background:#3383c0;
	color:#fff;
}

.algUseBox .algUseSetBox .algUseList ul li:last-child{
	border-bottom:1px solid #aaa;
}

.algUseBox .algUseSetBtn{
	width:10%;
	height:auto;
	overflow:hidden;
	float:left;
	min-height:250px;
	padding:100px 20px 0px 20px;
}

.algUseBox .algUseSetBtn i{
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.algUseBox .algUseSetBtn i:hover{
	background:#666;
	color:#fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

label.pullLeft i{
	float:left !important;
}

label.chkSel,
label.rdSel{
	margin:0 !important;
	line-height:40px;
	font-weight:normal;
}

label.chkSel i,
label.rdSel i{
	display:inline-block;
	width:40px;
	height:40px;
	text-align:center;
	cursor:pointer;
	line-height:40px;
	font-size:20px;
	color:#ccc;
/*	float:left;*/

}

input[type="radio"].rdRdo,
input[type="checkbox"].rdChk{
	position:absolute !important;
	left:-100000px !important;
}

input[type=checkbox]:checked + label.chkSel i.fa-square-o,
label.chkSel i.fa-check-square-o,
input[type=radio]:checked + label.rdSel i.fa-circle-o,
label.rdSel i.fa-dot-circle-o{
	display:none;
}

input[type=checkbox]:checked + label.chkSel i.fa-check-square-o,
input[type="radio"]:checked + label.rdSel i.fa-dot-circle-o{
	color:#ff5340;
	display:block;
}



.subTopMobile {
	background:#f8f8f8 !important;
	height:auto !important;

}

.mConBox .subTopMobile ul li:first-child{
	margin-left:0px !important;
}

.mConBox .subTopMobile ul{
	border-bottom:none !important;
}

.mConBox .subTopMobile ul li {
    border: 1px solid #666;
    height: 40px;
    margin:3px 3px 0px 0px;
    width: 48%;
    text-align: center;

}

.mConBox .subTopMobile ul li a {
    line-height: 40px;
    color: #666;
    text-decoration: none;
}

.mConBox .subTopMobile ul li:hover, .mConBox .subTopMobile ul li.active{
    background: #47565f;
}

.mConBox .subTopMobile ul li:hover a, .mConBox .subTopMobile ul li.active a {
    color: #fff;
}

@media ( max-width: 530px ) {
	.mConBox .subTopMobile ul li {
		width:100%;
	}
}


button.moreData{
	width:auto;
	height:40px;
	padding:0px 10px;
	border:1px solid #666;
	line-height:40px;
	text-align:center;
	box-sizing:border-box;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}


/* 에러화면 ERROR */

#errorBox{
	width:100%;
	height:100%;
	position:relative;
	background:url('../img/loginBg.jpg');
	background-position:center center;
	background-size:cover;
}

.errorInner{
	position:absolute;
	width:400px;
	height:400px;
	background:#fff;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-200px;
	-webkit-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	-moz-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
}

.errorInner .errorTop{
	width:100%;
	height:150px;
	background:#ff5340;
	text-align:center;
	color:#fff;
	line-height:150px;
	font-size:50px;
	font-family:sans-serif;
	font-weight:bold;
}

.errorInner .errorCont{
	padding:20px;
	min-height:200px;
}

.errorInner .errorCont p{
	display:block;
	line-height:20px;
	font-size:15px;
}

.errorInner .errorCont span{
	color:#999;
	font-size:12px;
	line-height:20px;
	display:block;
	margin-top:20px;
}

.errorInner .errorBtn button{
	width:50%;
	height:50px;
	background:#666;
	color:#fff;
	text-align:center;
	font-size:15px;
	float:left;
	box-sizing:border-box;
}

/* 추천영역별 알고리즘 SET */

tr.onTr td{
	background:#eee;
	font-weight:bold;
	color:#000;
}

td.hTrLine{
	background:#f8f8f8;
}

table.innerTable{
	width:100%;
}

table.innerTable th{
	background:#5c5c5c !important;
	border-left:1px solid #ccc !important;
	border-bottom:1px solid #ccc !important;
	border-top:1px solid #ccc !important;
	padding:7px;
	height:40px;
	color:#fff;
}

table.innerTable th:last-child{
	border-right:1px solid #aaa !important;
}

table.innerTable td{
	border-color:#ddd;
	background:#fdfdfd;
	height:40px;
	padding:7px;
}

/* main box - 1 */

.recoBoxMain{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:150px;
/*	border:1px solid #ddd;*/
	margin-top:20px;
/*	border-radius:5px;*/
	background:#fdfdfd;
	position:relative;
	box-sizing:border-box;
	padding-left:100px;
}

.recoBoxMain ul{
	margin-top:7px;
}

.recoBoxMain ul li{
	display:block;
	line-height:45px;
	font-size:19px;
	color:#666;
	padding:0px 20px;
}

.recoBoxMain ul li b{
	color:#222;
}

.recoBoxMain h2{
	line-height:60px;
	display:block;
	width:100%;
	background:#fff;
	padding:0px 20px;
}

.recoBoxMain i{
	display:block;
	width:100px;
	height:150px;
	text-align:center;
	line-height:100px;
	font-size:60px;
	position:absolute;
	top:0px;
	left:0px;
}

.recoBoxMain i > p{
	line-height:50px;
	font-size:17px;
	font-weight:bold;
}

.bgMboxC1{ border:1px solid #005d83; }
.bgMboxC1 i{ background:#005d83; color:#fff; }
.bgMboxC1 h2{ color:#005d83; }

.bgMboxC2{ border:1px solid #77bf51; }
.bgMboxC2 i{ background:#77bf51; color:#fff; }
.bgMboxC2 h2{ color:#77bf51; }

.bgMboxC3{ border:1px solid #00afb7; }
.bgMboxC3 i{ background:#00afb7; color:#fff; }
.bgMboxC3 h2{ color:#00afb7; }

.bgMboxC4{ border:1px solid #ff7200; }
.bgMboxC4 i{ background:#ff7200; color:#fff; }
.bgMboxC4 h2{ color:#ff7200; }




/* main box - 2 */

.recoBoxAMain{
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:150px;
/*	border:1px solid #ddd;*/
	margin-top:20px;
/*	border-radius:5px;*/
	background:#fdfdfd;
	position:relative;
	box-sizing:border-box;
}

.recoBoxAMain .recoBoxAMainTop{
	width:100%;
	height:80px;
	padding-right:80px;
	position:relative;
	background:#fff;
}

.recoBoxAMainTop h2{
	width:100%;
	height:80px;
	text-align:left;
	line-height:80px;
	padding-left:20px;
	font-size:28px;
/*	background:#;*/
}

.recoBoxAMain .recoBoxAMainTop i{
	display:block;
	width:80px;
	height:80px;
	position:absolute;
	right:0px;
	top:0px;
	text-align:center;
	line-height:80px;
	font-size:35px;
}

.recoBoxAMain ul{
	padding:10px 0px;
}

.recoBoxAMain ul li{
	width:100%;
	display:block;
	line-height:35px;
	padding-left:30px;
	font-size:20px;
}


.bgAboxC1{ border:1px solid #005d83; }
.bgAboxC1 .recoBoxAMainTop i{ background:#005d83; color:#fff; }
.bgAboxC1 h2{ color:#005d83; }
.bgAboxC1 .recoBoxAMainTop{ border-bottom:1px solid #005d83; }

.bgAboxC2{ border:1px solid #77bf51; }
.bgAboxC2 i{ background:#77bf51; color:#fff; }
.bgAboxC2 h2{ color:#77bf51; }
.bgAboxC2 .recoBoxAMainTop{ border-bottom:1px solid #77bf51; }

.bgAboxC3{ border:1px solid #00afb7; }
.bgAboxC3 i{ background:#00afb7; color:#fff; }
.bgAboxC3 h2{ color:#00afb7; }
.bgAboxC3 .recoBoxAMainTop{ border-bottom:1px solid #00afb7; }

.bgAboxC4{ border:1px solid #ff7200; }
.bgAboxC4 i{ background:#ff7200; color:#fff; }
.bgAboxC4 h2{ color:#ff7200; }
.bgAboxC4 .recoBoxAMainTop{ border-bottom:1px solid #ff7200; }





/* main box - 3 */

.recoBoxBMain{
	width:100%;
	height:auto;
/*	overflow:hidden;*/
	min-height:150px;
/*	border:1px solid #ddd;*/
	margin-top:20px;
/*	border-radius:5px;*/
	background:#fdfdfd;
	position:relative;
	box-sizing:border-box;
	color:#fff;
	padding-left:120px;

}

.recoBoxBMain i{
	position:absolute;
	top:0px;
	left:0px;
	width:110px;
	text-align:center;
/*	line-height:80px*/
	font-size:30px;
	padding:20px 0px;
}

.recoBoxBMain i > p{
	font-size:23px;
	padding:10 0px;
}

.recoBoxBMain .recoBoxBList{
	width:100%;
	height:auto;
	overflow:hidden;
	box-sizing:border-box;
	margin-top:10px;
/*	border-left:1px solid #ddd;*/
	padding:0px 10px 0px 20px;
}

.recoBoxBMain .recoBoxBList table.recoBoxBTbl{
	width:auto;
	font-size:17px;
}

.recoBoxBMain .recoBoxBList table.recoBoxBTbl td{
	text-align:right;
	padding:0px 20px;

}

.dfSize .mainBoxRes .recoBoxBMain .iconBox{
/*	display:none;*/
	width:200px;
	height:50px;
	top:-30px;
}

.dfSize .mainBoxRes .recoBoxBMain i{
	text-align:left;
	padding:0;
	left:10px;
	top:10px;
	width:100%;
}

.dfSize .mainBoxRes .recoBoxBMain i > p{
	position:absolute;
	top:3px;
	left:42px;
	padding:0;
}

.dfSize .mainBoxRes .recoBoxBMain{
	padding:0;
	padding-top:10px;
}


.recoBoxBMain .recoBoxBList ul li.mCount{
	color:#f6ff00;
	font-size:22px;
	line-height:40px;
	margin:5px 0px;
	letter-spacing:-1px;
}

.recoBoxBMain .recoBoxBList h2 span{
	font-size:16px;
	color:#666;
	font-weight:normal;

}

.recoBoxBMain .iconBox{
	width:110px;
	height:125px;
	background:#333;
	position:absolute;
	left:10px;
	top:-10px;
	border-radius:0px 0px 8px 8px;
/*	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);*/
/*	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);*/
/*	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);*/
}

.bgBboxC1{ border:2px solid #418bca; }
.bgBboxC1 .iconBox{ background:#418bca; }
/*.bgBboxC1 .recoBoxBList h2{ color:#418bca; }*/

.bgBboxC2{ border:2px solid #5db85b;}
.bgBboxC2 .iconBox{ background:#5db85b; }
/*.bgBboxC2 .recoBoxBList h2{ color:#5db85b; }*/

.bgBboxC3{ border:2px solid #efad4d;}
.bgBboxC3 .iconBox{ background:#efad4d; }
/*.bgBboxC3 .recoBoxBList h2{ color:#efad4d; }*/

.bgBboxC4{ border:2px solid #d95350;}
.bgBboxC4 .iconBox{ background:#d95350; }
/*.bgBboxC4 .recoBoxBList h2{ color:#d95350; }*/

/*-- sort css --*/

.fingerPointer{
	cursor:pointer;
}

.fingerPointer2{
    cursor:pointer;
}


/*-- font class--*/

.crRecoPV{ color:#418bca; }
.crRecoUV{ color:#ca77b4; }
.crCR{ color:#efad4d; }
.crCTR{ color:#5db85b; }
.crPrice{ color:#d95350; }
.crPriceVal{ color:#cfa2a1; }



/*----- excel icon -----------*/
button.excelDw{
/*	background:#08743b;*/
	color:#08743b;
	height:30px;
	line-height:30px;
	width:140px;
	text-align:center;
	margin-top:5px;
	float:right;
	border:1px solid #08743b;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

button.excelDw i.fa-download{
	margin-right:5px;
}

button.excelDw:hover{
	color:#fff;
	background:#08743b;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}


/*--------버튼설정-----------*/

/* 
 - 상품관리설정(품절미품절)
 - 배치관리>JobParm수정
 - 팝업 삭제버튼(공통)
 - 알고리즘관리 > 추천알고리즘타입관리 > 수정버튼
 - 알고리즘관리 > 추천알고리즘관리 > 수정버튼
 - 시스템환경관리 > 도메인 접속 DB 관리 > 수정버튼
 - 도메인관리 > 인증키 발급여부 > 발급
 - 도메인관리 > 인증키 발급여부 > 미발급
 - 도메인관리 > 계정정보수정 > 수정
 - 사용자계정관리 > 계정정보수정 > 수정
 - 사용자메뉴권한관리 > 상세관리 > 수정
 - 서비스관리 > 상세관리 > 수정
 - 공지사항 > 수정 > 수정
 - Qna > 수정 > 수정
*/

button.pormBtn,
button.ParamModifyBtn,
button.deleteBtn,
button.modyAlgoBtn,
button.modySugBtn,
button.modyDBBtn,
button.notIssueKEYBtn,
button.issueKEYBtn,
button.modyDomainBtn,
button.modyUserBtn,
button.modyMenuBtn,
button.serviceModiBtn,
button.notiModifyBtn,
button.qnaModifyBtn{
	width:60px;
}

/* 
 - 도메인관리 > ID > 발급하기
 - 사용자계정관리 > ID > 발급하기
 - 팝업공통 ID 생성
*/

button.issueIDBtn,
button.issueUSERBtn{
	width:70px;
}

/* 
 - 도메인관리 > 비밀번호관리 > 비밀번호초기화
*/

button.pwResetBtn{
	width:100px;
}


.noDataDiv{
	width:100%;
	height:400px;
	position:relative;
}

.noDataDiv .dTxt{
	width:200px;
	height:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-50px;
	text-align:center;
	font-size:20px;
	color:#999;
}

.noDataDiv .dTxt i.ti-alert{
	font-size:40px;
	line-height:50px;
}

.noDataDiv .dTxt p{
	font-size:16px;
	line-height:50px;
}



/* main add */
.mainLeftCon { 
	width:28%; 
	float:left; 
	margin:0 0 20px 0;
}

.mainLeftCon > div { 
	padding:0 15px 0 0;
}

.mainLeftCon .mainBoxRes .recoBoxBMain { 
	width:100%; 
	height:auto; 
	min-height:120px; 
	margin:0 0 14px; 
	background:#fdfdfd; 
	position:relative; 
	box-sizing:border-box; 
	color:#fff;
	padding:0; 
	border: 1px solid #bbb;
}

.mainLeftCon .mainBoxRes .recoBoxBMain .iconBox { 
	width:117px; 
	height:118px; 
	top:0; 
	left:0; 
	border-radius:0; 
	text-align: center;
}
.mainLeftCon .mainBoxRes .recoBoxBMain i  { 
	position:absolute; 
	top:18px; 
	left:32px; 
	text-align:center; 
	font-size:30px; 
	padding:0;
}

.mainLeftCon .mainBoxRes .recoBoxBMain i > p { 
	position: absolute; 
	font-size: 17px; 
	padding: 60px 0 0; 
	font-weight: 600; 
	width: 117px; 
	top: 0; 
	left: -43px;
}

.mainLeftCon .mainBoxRes .recoBoxBMain .recoBoxBList { 
	width:100%; 
	height:auto; 
	overflow:hidden; 
	box-sizing:border-box; 
	margin-top:0; 
	padding:2px 10px 0px 130px;
}

.mainLeftCon .mainBoxRes .recoBoxBMain .recoBoxBList > h2 { 
	font-size:19px;
}

.mainLeftCon .recoBoxBMain .recoBoxBList table.recoBoxBTbl { 
	font-size: 16px;
}

.mainRightCon { 
	width:72%; 
	float:left; 
	margin:0 0 20px 0;
}

.mainRightCon > div { 
	padding:0 0 0 15px;
}

.mainRightCon .xonBox .gInBox{ 
	width:100%; 
	height:458px;
}


@media ( max-width: 1835px ) {
	
	.mainLeftCon, .mainRightCon { 
		width: 100%; 
		float: none;
	}
	
	.mainLeftCon > div { 
		padding: 0;
	}
	
	.mainRightCon > div { 
		padding: 0 0 0 10px;
	}
	
	.mainRightCon > div:first-child { 
		padding: 0;
	}
	
}

@media ( max-width: 720px ) {
	
	.mainLeftCon .mainBoxRes .recoBoxBMain .iconBox { 
		width: 100%;  
		height: 50px;
	}
	
	.mainLeftCon .mainBoxRes .recoBoxBMain .recoBoxBList { 
		padding: 50px 5px 5px;
	}
	
	.mainLeftCon .recoBoxBMain .recoBoxBList table.recoBoxBTbl { 
		font-size: 1em;
	}
	
	.mainLeftCon .mainBoxRes .recoBoxBMain i { 
		top:5px; 
		left: 10px; 
		text-align: left;
	}
	
	.dfSize .mainBoxRes .recoBoxBMain i.ti-mouse-alt, .recoBoxBMain i.ti-mouse-alt, .dfSize .mainBoxRes .recoBoxBMain i.ti-home, .recoBoxBMain i.ti-home, .dfSize .mainBoxRes .recoBoxBMain i.ti-package, .recoBoxBMain i.ti-package, .dfSize .mainBoxRes .recoBoxBMain i.ti-gift, .recoBoxBMain i.ti-gift { 
		width: 40px; 
		height: 40px; 
		background-size: contain;
	}
	
	.mainLeftCon .mainBoxRes .recoBoxBMain i > p { 
		left: 0; 
		padding: 0 0 0 50px; 
		width: 200px; 
		line-height: 40px;
	}
	
}