@charset "UTF-8";


.dateRange,
.dateSingle{
	position:relative;
/*	min-width:512px;*/
	display:inline-block;
}

.dateSingle i.ti-calendar,
.dateSingle i.ti-angle-left,
.dateSingle i.ti-angle-right{
	display:inline-block;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	border:1px solid #666;
	background:#fff;
	float:right;
	cursor:pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.dateSingle i.ti-angle-left:hover,
.dateSingle i.ti-angle-right:hover{
	background:#666;
	color:#fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.dateSingle i.ti-calendar{
	border:none;
	position:absolute;
	right:60px;
	top:0px;
	z-index:20;
	background:none;
}

.dateSingle i.ti-calendar:hover{
	color:#666;
}

.dateSingle i.ti-angle-right{
	border-left:none;
}

.dateSingle i.ti-angle-left{
	border-right:none;
}

.dateSingle input[type="text"]{
	width:150px;
	height:40px;
	border:1px solid #666;
	padding:0px 40px 0px 10px;
	float:right;
	background:#fff;
	z-index:20;
	cursor:pointer;
}

.dateRange i.ti-calendar{
	position:absolute;
	right:3px;
	top:0px;
	z-index:10;
	display:inline-block;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
}

.dateRange input[type="text"]{
	width:235px;
	height:40px;
	border:1px solid #666;
	padding:0px 40px 0px 10px;
/*	float:right;*/
	background:#fff;
	z-index:20;
	cursor:pointer;
}

p.tLable{
	display:inline-block;
	padding:0px 10px;
}

button.dateRangeBtn{
	width:40px;
	height:40px;
	border:1px solid #666;
	line-height:40px;
	text-align:center;
	box-sizing:border-box;
	background:#fff;
}

button.dActive{
	background:#666;
	color:#fff;
}


.setBoxListArea{
	display:inline-block;
	width:auto;
	position:relative;
}

button.setBoxList{
	width:auto;
	height:40px;
	padding:0px 10px;
	border:1px solid #666;
	line-height:40px;
	text-align:center;
	box-sizing:border-box;
	background:#fff;
	position:relative;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

button.bActive{
	border:1px solid #ee1d23;
	background:#ee1d23;
	color:#fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.setBoxListBox{
    height: auto;
    overflow: hidden;
/*    min-height: 200px;*/
    width: 360px;
    background: #fff;
    left: 0px;
    z-index: 10;
    top: 42px;
    border: 2px solid #ee1d23;
	position:absolute;
	-webkit-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	-moz-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.29);
	text-align:left;
	display:none;
}

.setBoxListBox ul{
	margin:0;
	padding:0;
}

.setBoxListBox ul li{
	display:inline-block;
	line-height:40px;
	min-width:50%;
	float:left;
}

.setBoxListBox ul li > label.chkSel i{
	float:left;
}

.setBoxListBox .setBoxListBtn{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:10px;
	text-align:center;
	float:left;
}

.setBoxListBox .setBoxListBtn button{
	width:80px;
	height:40px;
	border:1px solid #666;
	line-height:40px;
	text-align:center;
	box-sizing:border-box;
	background:#fff;
}

@media ( max-width: 720px ) {
		
	.dateSingle input[type="text"]{
		width:60%;
	}

	.dateSingle i{
		width:20%;
	}

	.dateSingle i.ti-calendar{
		right:20%;
	}
}

@media ( max-width: 500px ) {
		
	.dateRange input[type="text"]{
		width:100%;
		margin-top:10px;
	}

	.dateRange i.ti-calendar{
		top:10px;
	}
}

input[type="text"],input[type="password"],input[type="number"]{
	width:auto;
	height:40px;
	border:1px solid #666;
	padding:0px 10px;
	box-sizing:border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#aaa;
}
:-moz-placeholder { /* Firefox 18- */
  color:#aaa;
}

select{
	width:auto;
	height:40px;
	border:1px solid #666;
	padding:0px 10px;
	box-sizing:border-box;
}

.select-co-2 select{
	width:49%;
}

.select-co-3 select{
	width:32%;
}

.select-set-1 select{
	width:20%;
}

.select-set-1 input[type="text"]{
	width:30%;
}

.select-set-1 button.searchBtn{
	width:19%;
}

.select-set-2 input[type="text"]{
	width:49%;
}

.select-set-2 button.searchBtn{
	width:10%;
}

.select-set-3 p{
	line-height:40px;
	display:inline-block;
	margin-right:10px;
	font-weight:bold;
	font-size:15px;
}

.select-set-3 p > b{
	line-height:30px;
	display:inline-block;
	padding:0px 7px;
	background:#ff5c03;
	color:#fff;
	border-radius:5px;
}

/*.select-set-3 select{*/
/*	width:25%;*/
/*}*/

.select-sys-1 p{
	line-height:40px;
	display:inline-block;
	margin-right:10px;
	font-weight:bold;
	font-size:15px;
}

.button-set-1 button{
	width:120px;
	height:40px;
	text-align:center;
	background:#ee1d23;
	color:#fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

button.searchBtn{
	width:70px;
	height:40px;
	text-align:center;
	display:inline-block;
	line-height:40px;
	border:1px solid #444;
	background:#444;
	box-sizing:border-box;
	color:#fff;
}



.tableTop h5{
	display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
    color: #0d2d4f;
    border-left: 3px solid #2baaa0;
    margin-top: 10px;
	position:relative;
}

.tableTop h5:before{
	content:"";
	display:block;
	width:3px;
	height:14px;
	background:#0d2d4f;
	position:absolute;
	left:-3px;
	top:0px;

}

.tableTop h5 span{
	display: inline-block;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
    background:#2baaa0;
    border-radius: 5px;
    position: absolute;
    top: -6px;
    left: 90px;
}

.tableTop p{
	line-height:40px;
	font-size:15px;
}

.tableTop p span{
	color:#007eff;
}

