@charset "UTF-8";

.fw-b{
	font-weight:bold;
}

#loginWrap{
	font-family:'NanumBarunGothic';
	font-size: 12px;
}

#loginWrap .loginBg .loginBox {
    height:auto !important;
}


#loginWrap{
	
	width:100%;
	height:100%;
	position:relative;
	background:#f8f8f8;
	background-position:center center;
	background-size:cover;
}

#loginWrap .loginBg{
	
	width:600px;
	height:100%;
	position:relative;
/*	background:#303b41;*/
	margin:0 auto;
/*	background:url('../img/loginBoxBg.jpg');*/
	background-position:center center;
	background-repeat:no-repeat;
}

#loginWrap .loginBg .loginBox{
	width:400px;
	height:400px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-300px;
	background:#fff;
    border:1px solid #ddd;
/*	-webkit-box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);*/
/*	-moz-box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);*/
/*	box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);*/
}

#loginWrap .loginBg .changePw{
	height:490px;
	margin-top:-345px;
}

#loginWrap .loginBg .changePw .loginBoxList ul li{
	color:#ff5340 !important;
	font-size:13px !important;
}

#loginWrap .loginBg .loginBox .loginBoxTop{
	width:100%;
	height:100px;
	background:#274298;
	text-align:center;
	color:#fff;
	line-height:100px;
	font-size:24px;
/*	border-bottom:1px solid #ddd;*/
	font-weight:bold;
/*	font-family:sans-serif;*/
}

#loginWrap .loginBg .loginBox .logoImg {
	position:relative; 
	top:34px;
}

#loginWrap .loginBg .loginBox .loginBoxPwTop{
	width:100%;
	height:120px;
	text-align:center;
	color:#fff;
	font-size:20px;
	background:url('../img/mainBodyReset.jpg');
	background-size:100% auto;
}

#loginWrap .loginBg .loginBox .loginBoxPwTop h3{
	line-height:120px;
}

#loginWrap .loginBg .loginBox .loginBoxList{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:30px;
}

#loginWrap .loginBg .loginBox .loginBoxList ul li{
	width:100%;
	height:50px;
	margin-bottom:30px;
	position:relative;
	text-align:center;
	line-height:50px;
	padding-left:50px;
	font-size:12px;
	color:#999;
}

#loginWrap .loginBg .loginBox .loginBoxList ul li.text-left{
	text-align:left;
}

#loginWrap .loginBg .loginBox .loginBoxList ul li span{
	width:50px;
	height:50px;
	position:absolute;
	background:#eee;
	left:0px;
	top:0px;
	text-align:center;
	line-height:50px;
	color:#ff5340;
	font-size:18px;
	border: 1px solid #ddd;
}

#loginWrap .loginBg .loginBox .loginBoxList ul li input[type="password"],
#loginWrap .loginBg .loginBox .loginBoxList ul li input[type="text"]{
	width:100%;
	height:50px;
	background:#fff;
	border:1px solid #ccc;
	border-left: none;
	padding:0px 10px;
	font-size:16px;
	color:#666;
	line-height:50px;
}

#loginWrap .loginBg .loginBox .loginBoxList ul li.pd-0{
	padding:0;
}

#loginWrap .loginBg .loginBox .loginBoxList ul li button{
	width:100%;
	height:50px;
	background:#274298;
	color:#fff;
	font-size:18px;
}


#lecoWrap{
	width:100%;
	height:100%;
/*	position:relative;*/
}



.user-add{
	text-align:center !important;
}

.user-add a{
	position:relative;
	right:0;
	display:inline-block;
	width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid #ff5340;
    box-sizing: border-box;
    font-size: 12px;
    color: #ff5340;
	line-height:40px;
}

.log-desc{
    float: left;
    width: 50% !important;
    line-height: 18px !important;	
}

#loginWrap .loginBg .loginBox .loginBoxList ul li {
    margin-bottom: 10px;

}

.persinfoBox{
	display:none;
    width: 800px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 41%;
    margin-left: -400px;
    margin-top: -200px;
    background: #fff;
	border:1px solid #333;
    -webkit-box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);
		z-index:1000;
}

.logBoxTop{
	width: 100%;
    height: 60px;
    background: #2baaa0;
    color: #fff;
    line-height: 60px;
	padding:0 30px;
}

.persinfoBoxTop{
    font-size: 15px;	
}

.logBoxCon{
	padding:10px 30px;
	background-color: #fff;
}



.logconBox{
	width: 100%;
    height: auto;
    overflow: hidden;
    /* margin-top: 20px; */
    border-top: 1px solid #ff5340;	
	margin-bottom:20px;
}

.persinfoTbl{
	width:100%;
	border:1px solid #eee;
}

.persinfoTbl tr{
	height:50px;
	border:1px solid #eee;
}

.persinfoTbl th, .persinfoTbl td{
	padding:0 10px;
	vertical-align:middle;
	border-right:1px solid #eee;
}

.persinfoTbl th{
	background:#fdfdfd;
	text-align:center;
	border-right:1px solid #eee; 
}

.persinfoTbl tr:hover{
	background:transparent;
}


table tr:hover th{
	background: #fdfdfd;
}

.prsinfoText p{
	padding:20px;
}



.persinfoTbl input[type="text"]{
	width:100%;
    height: 30px;
    padding: 0px 10px;
    font-size: 12px;
    background: none;
    border: 1px solid #666;
}

.persinfoTbl input[type="checkbox"]{
	position:relative;
    top: -1px;
    margin-right: 4px;
}

.prsinfoText{
	height:220px;
	overflow-y:auto;
}

.persinfoAgreebtn li{
	float:left;
}

.logBtn{
	text-align:center;
}

.prsinfoText{
	border:1px solid #eee;
	border-bottom:none;
}

.logBtn button{
    width: 20%;
    height: 40px;
    text-align: center;
    border: 1px solid #0d2d4f;
    box-sizing: border-box;
    font-size: 12px;
    background: #0d2d4f;
    color: #fff;	
}

.persinfoSign{
	background:#ff5340 !important;	
	border:1px solid #ff5340 !important;	
}

.chgPsdBox{
	width: 620px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -250px;
    background: #fff;
	border:1px solid #333;
	display:none;
    -webkit-box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 78px 0px rgba(0,0,0,0.75);
	z-index:1000;
}

.chgPsdBoxTop{
	font-size:25px;
	text-align:center;
}

.chgPsdInfo{
	font-size:20px;
	line-height:45px;
	margin-bottom:10px;
}

.chgPsd_redBig{
	font-size:35px;
	color:#ff5340;
}

.chgPsdTop{
	background:url(../img/chgPsdBg.png) right 22px no-repeat;
}

.chgPsd_red{
	color:#fe432f;	
}

.chgPsdconBox{
	padding:10px;
	border:1px solid #eee;
	border-top:1px solid #ff5340;	
	margin-bottom:10px;
}

.chgPsdconBox p{
	font-size:13px;
}

.chgPsdBtn button{
	width:30%;
}

.closePop{
	color:#fff;
	float:right;
	font-size:20px;
}

.closePop i{
	cursor:pointer;
}


/* login add */
#loginWrap { 
	background:#e8e8e8;
}

#loginWrap .loginBg .loginBox { 
	border:none;
}

#loginWrap .loginBg .loginBox .loginBoxList { 
	box-shadow:0 5px 15px rgba(0,0,0,0.3);
}